* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
/*????????????*/
body {
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     /*background-color: #121212; /* Dark background */
    background-color: grey;
    color: #e0e0e0; /* Light grey text for readability */
}

.container {
    width: 100%;
    max-width: 1800px;
    padding: 10px;

    padding-bottom: 10px;
    background-color: #333; /* Dark grey background */
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

hr{
    color: #555;
    background-color: #555;
    border-color: #555;
}
h1{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #001800;
    font-size: 50px;
}
h2, h3 {
    color: #228B22; 
    margin-bottom: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #555; /* Grey border for table */
    padding: 10px;
    text-align: center;
    color: #e0e0e0;
}

button {
    padding: 8px 12px;
    background-color: #228b22; /* Forest green button */
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    margin: 0 auto;
}

button:hover {
    background-color: #1e7d1e;
}

input[type="text"], input[type="number"], input[type="date"], select {
    padding: 8px;
    margin: 5px 0;
    width: 100%;
    background-color: #222;
    color: #e0e0e0;
    border: 1px solid #555;
    border-radius: 4px;
}

input[type="date"], select {
    width: 49.7%;
    
    
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.chart-button {
    text-align: center;
    
    
}

.select-buttons {
    text-align: center;
}

a {
    text-decoration: underline;
    color: white;
}

a:hover {
    color: rgb(107, 107, 107);
}


main {
    display: flex;
}

.form-section {
    text-align: center;
    width: 50%;
    margin: auto;
}
.form-section input{
    width: 100%;
    
}

.section1 {
    flex: 2;
    margin: auto;
    width: 100%;
}
.section2{
    flex: 3;
    width: 100%;
    margin: auto;
}

.section2 canvas {
    width: 50%;;
}

.date-n-type {
    display: flex;
}

.date-n-type input {
    flex: 1;
}

header {
    background-color:dimgray;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

   
}

.balance-section {
    position:sticky;
    top: 0;
    z-index: 1000000000;
    background-color: rgba(43, 43, 43, 0.5);



}

.balance-section h2{
    margin-bottom: 0;
    width: 50%;
    padding: 0;
    margin: auto;
    background-color: #555;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.helppage  {
    float: right;
    position: relative;
    bottom: 27px;
    
}
.logout  {
    position: relative;
    bottom: 27px;
    padding-left: 5px;
    width: 25%;
    
}
.logout a {
    margin: 3%;
}